@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

@theme {
  --color-base: #faf4ed;
  --color-surface: #fffaf3;
  --color-overlay: #f2e9e1;
  --color-muted: #9893a5;
  --color-subtle: #797593;
  --color-text: #575279;
  --color-love: #b4637a;
  --color-gold: #ea9d34;
  --color-rose: #d7827e;
  --color-pine: #286983;
  --color-foam: #56949f;
  --color-iris: #907aa9;
  --color-highlight-low: #f4ede8;
  --color-highlight-med: #dfdad9;
  --color-highlight-high: #cecacd;

  --font-mono: var(--font-roboto-mono);
}
